$root: (
  fontSize: 16px,
  lineHeight: 1.5,
);
$colors: (
  primary: #1f72ff,
  primary-light: lighten(#1f72ff, 40%),
  dark-grey: #222222,
  text-color: rgba(0, 0, 0, 0.6),
  black: rgba(0, 0, 0, 0.87),
);
$h1: (
  fontSize: 3.815rem,
);
$h2: (
  fontSize: 3.052rem,
);
$h3: (
  fontSize: 2.441rem,
);
$h4: (
  fontSize: 1.953rem,
);
$h5: (
  fontSize: 1.563rem,
);
$h6: (
  fontSize: 1.25rem,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: map-get($root, lineHeight);
}

/* Header styles */
.h1 {
  font-size: map-get($h1, fontSize);
}

.h5 {
  font-size: map-get($h5, fontSize);
}
